<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zenova</title>
    <link
      rel="shortcut icon"
      href=""
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body><nav>
    <div id="nav">
      <img
        src=""
        alt=""
      />
      <h4>Home</h4>
      <h4>Meet the Zenova's</h4>
      <h4>Blogs</h4>
      <h4><a href="/chatbot">Chatbot</a></h4>
    </nav>
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video autoplay loop muted src="/static/bg_vid.mp4"></video>
    <div id="main">
      <div id="page1">
        <h1>Grow. Stronger. Within.
        </h1>
        <h2>Welcome To Zenova !</h2>
        <h3>
          YOUR MENTAL HEALTH MATTERS. </h3>
          <p>
          Zenova provides resources and support for your mental wellbeing.😊 
           <br>We're here to help you prioritize your mental health.🤝</br>
        </p>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>Mindful Conversations.</h4>
            <h4>Inner Harmony.</h4>
            <h4>Wellbeing Hub.</h4>
            <h4>Therapy That Works.</h4>
            <h4>You're Not Alone !!</h4>
          </div>
          <div id="scroller-in">
            <h4>Mindful Conversations.</h4>
            <h4>Inner Harmony.</h4>
            <h4>Wellbeing Hub.</h4>
            <h4>Therapy That Works.</h4>
            <h4>You're Not Alone !!</h4>
          </div>
        </div>
        
        <div id="about-us">
          <img src="/static/Utsav.jpg" alt="">
            <div id="about-us-in">
              <h3>ABOUT US</h3>
              <p>
                Zenova was founded by [UTSAV KUMAR GUPTA & SUMIT CHATTERJEE] who were 
                passionate about creating a community of support and understanding  & 
                to revolutionize the way people access and engage with mental healthcare.
              </p>
            </div>
            <img src="/static/Sumit_processed.jpeg" alt="">
          </div>
          <div id="cards-container">
            <div class="card" id="card1">
              <div class="overlay">
                <h4>Dealing with 
                  <br>Emotional Overload?</br></h4>
                <p>
                  This powerful image captures the raw vulnerability of human emotion, reminding us that it's okay to not be okay and to seek support during challenging times. Remember, you are not alone.
                </p>
              </div>
            </div>
            <div class="card" id="card2">
              <div class="overlay">
                <h4>Finding Comfort in 
                  <br>the Darkness</br></h4>
                <p>
                  Sometimes, we need to retreat and wrap ourselves in our own space to process overwhelming emotions. It's a moment of quiet contemplation, a way to regroup before facing the world again.  
                </p>
              </div>
            </div>
            <div class="card" id="card3">
              <div class="overlay">
                <h4>Finding Your 
                  <br>Glimmer of Hope</br></h4>
                <p>
                  Even in the darkest moments, there are glimpses of light, guiding us forward. Focus on those sparks of hope and let them illuminate your path toward healing and resilience.
                </p>
              </div>
            </div>
          </div>
          <div id="green-div">
            <img
              src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
              alt=""
            />
            <h4>
              TAKING CARE OF YOUR MENTAL HEALTH IS JUST AS IMPORTANT AS YOUR PHYSICAL HEALTH.
              <p>CONNECT WITH US TO UNLOCK YOUR INNER PEACE & TO NOURISH YOUR MIND.</p>
            </h4>
            <img
              src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
              alt=""
            />
          </div>
        </div>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>