<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zenova</title>
    <link
      rel="shortcut icon"
      href=""
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontend/style.css') }}">
  </head>

  <body><nav>
    <div id="nav">
      <img
        src=""
        alt=""
      />
      <h4>Home</h4>
      <h4>Meet the Zenova's</h4>
      <h4>Blogs</h4>
      <h4><a href="\chatbot">Chatbot</a></h4>
    </nav>
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video autoplay loop muted src="{{ url_for('static', filename='frontend/bg_vid.mp4') }}"></video>
    <div id="main">
      <div id="page1">
        <h1>Grow. Stronger. Within.
        </h1>
        <h2>Welcome To Zenova !</h2>
        <h3>
          YOUR MENTAL HEALTH MATTERS. </h3>
          <p>
          Zenova provides resources and support for your mental wellbeing.😊 
           <br>We're here to help you prioritize your mental health.🤝</br>
        </p>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>Mindful Conversations.</h4>
            <h4>Inner Harmony.</h4>
            <h4>Wellbeing Hub.</h4>
            <h4>Therapy That Works.</h4>
            <h4>You're Not Alone !!</h4>
          </div>
          <div id="scroller-in">
            <h4>Mindful Conversations.</h4>
            <h4>Inner Harmony.</h4>
            <h4>Wellbeing Hub.</h4>
            <h4>Therapy That Works.</h4>
            <h4>You're Not Alone !!</h4>
          </div>
        </div>
        <div id="page3">
          <div class="container">
              <h1>Real Stories of Resilience</h1>
              <div class="scrolling-wrapper">
                  <div class="card">
                      <h2>Sarah's Journey Through Anxiety</h2>
                      <p>Sarah, a college student, battled crippling anxiety. Simple tasks became mountains, and social situations felt impossible. Through therapy and medication, she learned coping mechanisms. Today, she speaks openly about her experiences, empowering others to seek help.</p>
                     <a href="#">Read More</a>
                  </div>
      
                  <div class="card">
                      <h2>David's Triumph Over Depression</h2>
                      <p>David, a successful businessman, found himself drowning in depression after a series of personal and professional setbacks. He felt isolated and hopeless. With the support of his family, a therapist, and a change in lifestyle (exercise, mindfulness), David rediscovered his passion for life and rebuilt his confidence.</p>
                     <a href="#">Read More</a>
                  </div>
      
                  <div class="card">
                      <h2>Emily's Fight Against Eating Disorders</h2>
                      <p>Emily, a young dancer, struggled with an eating disorder fueled by societal pressures and self-doubt. It affected every aspect of her life.  With the help of a specialized treatment program and a supportive community, Emily learned to love her body and find healthy ways to nourish herself, both physically and mentally.</p>
                     <a href="#">Read More</a>
                  </div>
      
                  <div class="card">
                      <h2>Mark's Recovery from PTSD</h2>
                      <p>Mark, a veteran, returned home from service with the invisible wounds of PTSD. Nightmares, flashbacks, and hypervigilance plagued his days. Through trauma-focused therapy, peer support groups, and art therapy, Mark slowly processed his experiences and learned to manage his symptoms, finding peace and purpose again.</p>
                       <a href="#">Read More</a>
                  </div>
      
                  <div class="card">
                      <h2>Lisa's Finding Strength in Grief</h2>
                      <p>Lisa faced unimaginable grief after losing her spouse unexpectedly. The pain was overwhelming, and she struggled to navigate life without her partner.  By joining a grief support group, practicing self-compassion, and allowing herself to feel the emotions, Lisa gradually found strength to rebuild her life while honoring her loved one's memory. </p>
                     <a href="#">Read More</a>
                  </div>
              </div>
          </div>
      </div>

        </div>
        <div id="about-us">
          <img src="{{ url_for('static', filename='frontend/Utsav.jpg') }}" alt="">
            <div id="about-us-in">
              <h3>ABOUT US</h3>
              <p>
                Zenova was founded by [UTSAV KUMAR GUPTA & SUMIT CHATTERJEE] who were 
                passionate about creating a community of support and understanding  & 
                to revolutionize the way people access and engage with mental healthcare.
              </p>
            </div>
            <img src="{{ url_for('static', filename='frontend/Sumit_processed.jpeg') }}" alt="">
          </div>
          <div id="cards-container">
            <div class="card" id="card1">
              <div class="overlay">
                <h4>Dealing with 
                  <br>Emotional Overload?</br></h4>
                <p>
                  This powerful image captures the raw vulnerability of human emotion, reminding us that it's okay to not be okay and to seek support during challenging times. Remember, you are not alone.
                </p>
              </div>
            </div>
            <div class="card" id="card2">
              <div class="overlay">
                <h4>Finding Comfort in 
                  <br>the Darkness</br></h4>
                <p>
                  Sometimes, we need to retreat and wrap ourselves in our own space to process overwhelming emotions. It's a moment of quiet contemplation, a way to regroup before facing the world again.  
                </p>
              </div>
            </div>
            <div class="card" id="card3">
              <div class="overlay">
                <h4>Finding Your 
                  <br>Glimmer of Hope</br></h4>
                <p>
                  Even in the darkest moments, there are glimpses of light, guiding us forward. Focus on those sparks of hope and let them illuminate your path toward healing and resilience.
                </p>
              </div>
            </div>
          </div>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='frontend/script.js') }}"></script>
  </body>
</html>